// Navigation code here



.nav-wrapper {
    .margin-auto-100();
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: @wild-sand;
    border-bottom: 1px solid @sea-shell;    
    h1, ul{
       margin: 0.8rem 0;
    }
    
    li {
       display: inline-block;
    
       a {
           color: @river-bend;
           text-decoration: none;
           padding: 0 1.6rem;
       }

       @media @phone {
            a {
                padding: 0 1.2rem;
            }
        }
    }
}

